server-examples/node_modules/*
users.txt

ArduinoHTTPClient-example/config.h
*/node_modules/*
.vscode/arduino.json
.vscode/c_cpp_properties.json
client-example/.DS_Store
server-examples/.DS_Store
*config.h
*arduino_secrets.h
