<p class="header">
  <a href="{{site.codeurl}}/ProcessingExamples">Processing client examples</a><br /> 
  <a href="{{site.baseurl}}/client-programming">Client-Side JavaScript Programming Notes</a>
  <a href="{{site.baseurl}}/client-example-js">JavaScript client example</a><br /> 
  <a href="{{site.baseurl}}/client-example-js">p5.js client example</a><br /> 
  <a href="{{site.baseurl}}/connecting-through-curl">Connecting from the command line through curl</a>
  <a href="{{site.baseurl}}/server-programming">Server-Side node.js Programming Notes</a><br /> 
  <a href="{{site.codeurl}}/nodejs-examples">node.js examples</a><br /> 
  <a href="{{site.baseurl}}/ArduinoExamples">Arduino examples</a><br /> 
  <a href="{{site.baseurl}}/zigbee">ZigBee Notes</a><br /> 

</p>